{% extends 'base.html' %}

{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'styles/gallery.css' %}">
<h1>{{ folder_name }}</h1>

<div class="d-flex align-content-around flex-wrap">
 
    

{% if jpg_files%}
  
    {% for file in jpg_files %}
    <div class="item item-{{forloop.counter}}">
        <img src="{{ file }}">
    </div>
    {% endfor %}
    {% for file in mp4_files %}
        <li><video src="{{ MEDIA_URL }}/StoredData/{{ folder_name }}/{{ file.url  }}" controls></video></li>
    {% endfor %}
 
{% else %}
    <p>No files found.</p>
{% endif %}
</div>
{% endblock %}