{% extends 'base.html' %}

{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'styles/gallery.css' %}">
<h1>{{ folder_name }}</h1>

<div class="d-flex align-content-around flex-wrap">
 
    

{% if jpg_files%}
  
    {% for file in jpg_files %}
    <div class="item item-{{forloop.counter}}">
        <img src="{{ file }}">
    </div>
    {% endfor %}

{% else %}
    <p>No Photos found.</p>
{% endif %}
{% if mp4_files%}
  
    {% for file in mp4_files %}
    <div class="item item-{{forloop.counter}}">
        <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster=""
    data-setup="{}"
  >
    <source src="{{ file }}" type="video/mp4" />
  </video>
    </div>
    {% endfor %}
{% else %}
    <p>No Videos found.</p>
{% endif %}

</div>
{% endblock %}