{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">

{% endblock %}
{% block title %} Home {% endblock %}
{% load crispy_forms_tags %}
   <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">-->
{% block content %}
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          
          {% comment %} <img src="{% url 'video_feed' %}" alt="Your Image" class="img-fluid mb-3"> {% endcomment %}
          <img src="{% url 'video_feed' %}" alt="Your Image" class="img-fluid mb-3" id="my-image">
          <div class="form-group">
            <label for="zoom-slider">Zoom:</label>
            <input type="range" class="form-control-range" id="zoom-slider" name="zoom" min="0.5" max="3.0" step="0.1" value="1.0">
            <label for="view-slider">Zoom:</label>
            <input type="range" class="form-control-range" id="view-slider" name="view" min="0.5" max="3.0" step="0.1" value="1.0">
          </div>
          
          
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="container">
            <form method= "POST">
              <div class="form-group">
                <label for="select-folder">Select Folder:</label>
                  <select class="form-control" name="folder" id="folder">
                    {% for option in options %}
                    <option>{{ option }}</option>
                    {% endfor %}
                  </select>
              </div>
              <div id="new-folder" class="form-group d-none">
                <label for="new-folder-name">New Folder Name:</label>
                <input type="text" class="form-control" id="new-folder-name" name="new-folder-name">
              </div>
              <div class="form-group">
                <span id="selected-folder-tag"></span>
              </div>
              <button type="button" class="btn btn-primary" id = "btn-create-folder">Create Folder</button>
              <button id="start-button" type="button" class="btn btn-success">Start</button>
              <button id="record-button" type="button" class="btn btn-success">Record</button>
              <button id="reset-button" type="button" class="btn btn-warning">Reset</button>
              <button type="button" class="btn btn-info">
              <a href = {% url 'redirect_to_Gallery' %} >Go to Gallery</a></button>
            </form>
          </div>
          
</div>
</div>
</div>
</section>
<script>
    $(document).ready(function() {
        // Get the slider element
        function updateZoom() {
          var slider = document.getElementById("zoom-slider");
          var viewslider = document.getElementById("view-slider");
          var csrftoken = getCookie('csrftoken');
          $.ajax({
              type: "POST",
              url: "/update_zoom_factor/",
              headers: {
                  "X-CSRFToken": csrftoken
              },
              data: { zoom_factor: slider.value, view_factor: viewslider.value},
              success: function() {
                  console.log("Updated")
              },
              error: function(err) {
                  console.error(err)
              }
          });
      }
      
      $(document).ready(function() {
          var slider = document.getElementById("zoom-slider");
          var viewslider = document.getElementById("view-slider");
          slider.addEventListener("input", updateZoom);
          viewslider.addEventListener("input", updateZoom);
      });
      
    });
    
</script>
<script>
  window.addEventListener('load', 
  function() { 
    
  
const folderSelect = document.getElementById('folder');
const newFolderDiv = document.getElementById('new-folder');
const newFolderInput = document.getElementById('new-folder-name');
const createFolderButton = document.getElementById("btn-create-folder");
const selectedFolderDeclare = document.getElementById('selected-folder-tag'); 


function handleFolderSelectChange() {
  if (folderSelect.value === 'Create new folder') {
    newFolderDiv.classList.remove('d-none');
    createFolderButton.classList.remove('d-none');
  } else {
    newFolderDiv.classList.add('d-none');
    createFolderButton.classList.add('d-none');
    console.log(folderSelect.value)
    // Send a GET request to the server to select the folder
    fetch(`/selectfolder/${folderSelect.value}`)
      .then(response => response.text())
      .then(message => {
        selectedFolderDeclare.textContent = message;
      });
  }
}

//Hide create folder button initially
createFolderButton.classList.add('d-none');

// Call the function when the page loads
handleFolderSelectChange() 


// Attach the function to the change event of the folder select element
folderSelect.addEventListener('change', handleFolderSelectChange);



// Attach an event listener to the create folder button
createFolderButton.addEventListener('click', (event) => {
  event.preventDefault(); // prevent the form from submitting
  selection = folderSelect.value
  // Get the value of the new folder input
  const newFolderName = newFolderInput.value;
  var csrftoken = getCookie('csrftoken');
  // Send an AJAX request to the server
  fetch('/create_folder/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken,
    },
    body: JSON.stringify({
      folderName: newFolderName,
      selection: selection,
    }),
  })
    .then((response) => response.json())
    .then((data) => {
      // If the request was successful, update the folder select and selected folder tag
      if (data.success) {
        // Create a new option element and add it to the folder select
        const optionElement = document.createElement('option');
        optionElement.textContent = newFolderName;
        folderSelect.appendChild(optionElement);

       // const selectedFolderDeclare = document.getElementById('selected-folder-tag'); 

        // Set the selected folder tag text to the new folder name
        selectedFolderDeclare.textContent = newFolderName;

        // Reset the new folder input value and hide the new folder div
        newFolderInput.value = '';
        newFolderDiv.classList.add('d-none');
        createFolderButton.classList.add('d-none');
        console.log('Folder Created', newFolderName)
      }
    })
    .catch((error) => {
      console.error(error);
    });
}); 


//Start Photos script
const startButton = document.getElementById('start-button');

startButton.addEventListener('click', (event) => {
  // This code will run when the button is clicked
fetch('/start_photos/')
  .then(response => response.json())
  .then(data => {
    // This code will run when the server responds with data
    console.log(data);
  })
  .catch(error => {
    // This code will run if there is an error sending or receiving the request
    console.error(error);
  });

});

//Start Photos script
const recordButton = document.getElementById('record-button');

recordButton.addEventListener('click', (event) => {
  // This code will run when the button is clicked
fetch('/record/')
  .then(response => response.json())
  .then(data => {
    // This code will run when the server responds with data
    console.log(data);
  })
  .catch(error => {
    // This code will run if there is an error sending or receiving the request
    console.error(error);
  });

});





});// On load closing brackets



</script>
{% endblock %}

