<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Stones Inc.</title>
   <link rel="stylesheet" href="{% static 'styles/new.css' %}">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="{% static 'js/starthide.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>Hello</h2>
        <form action="{% url 'create_folder' %}" method="post">
          {% csrf_token %}
          <div class="user-box">
            <label for="input">You can select from existing here:</label><br>
            <div class="formbuilder-select form-group field-select-1671271428957">
              <label for="select-1671271428957" class="formbuilder-select-label">You can select from existing here:</label><br>
              <select class="form-control" name="folder" id="folder">
                {% for option in options %}
                <option>{{ option }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="user-box" id="other_folder" style="display:none;">
            <input type="text" name="folder_name" id="folder_name" value="" placeholder="Enter the Folder Name"><br>
          </div>
          <button class="submit-button btn-danger" type="submit">
            <h3>Select Folder</h3>
          </button>
          <br>
        </form>
        <div class = "container">
          <h2>Selected Folder is : {{ FolderN }}</h2><br>
          <button class="btn" id ="start-button">
            <h3>Start</h3>
          </button>
        </div>
      </div>
      <button class="submit-button" onclick="redirectToRoute('/browser')">Browse</button>   
    </div>
  </div>
  <div class="video-feed">
    <img src="{% url 'video_feed' %}" alt="Your Image" class="img-fluid mb-3">
    <div class="d-grid gap-2">
      <button id="start-button" onclick="callRoute('/start_stream')">Start Stream</button>
      <button id="stop-button" onclick="callRoute('/stop_stream')">Stop Stream</button>
      <button id="Rec-On" onclick="callRoute('/rec_on')">Start Rec</button>
      <button id="Rec-Off" onclick="callRoute('/rec_off')">Stop Rec</button>
    </div>
  </div>
</div>
    
  </div>
  <script>
    // Create an XMLHttpRequest object
    const xhr = new XMLHttpRequest();

    // Function to start the stream
    function callRoute(Route) {
      // Send a request to the server to start the stream
      xhr.open("POST", Route, true);
      xhr.send();
      console.log("Success")
    }

    function redirectToRoute(route) {
      window.location.href = route;
    }

    var select = document.getElementById("folder");
    var input = document.getElementById("other_folder");
    select.onchange = function(){
      if (select.value === "Create new folder") {
        input.style.display = "block";
      } else {
        input.style.display = "none";
      }
    }
  </script>
  <script>
    {% comment %} document.getElementById("start-button").addEventListener("click", function() {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/start-photos/", true);
      xhr.onload = function() {
        var response = JSON.parse(xhr.responseText);
        if (response.success) {
          // Handle success
        } else {
          // Handle error
        }
      };
      xhr.send();
    }); {% endcomment %}
    $(document).ready(function() {
      $('#start-button').click(function() {
          $.ajax({
              url: '/start_photos/',
              type: 'POST',
              beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              },
              success: function(response) {
                  console.log('Photo captured and saved successfully');
              },
              error: function(xhr, status, error) {
                  console.log('Error capturing or saving photo: ' + error);
              }
          });
      });
  });
  
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  
    

  </script>
  
</body>
</html>
